<!-- views/employees/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Your Employees</title>
	</head>
	<body>
		<div class="nav" class="flex-container">
			<a href="/users/<%= user._id%>/employees/new">Add New Employee</a>
			<%- include('../partials/_navbar.ejs') %>
		</div>
		<div class="aside" class="flex-container">
			<h1>Staff Page</h1>
		</div>
		<div class="main" class="flex-container">
			<% if(employees.length !== 0) { %>
			<h1>Below is all of your current staff:</h1>
			<ul>
				<% employees.forEach((employee)=>{ %>
				<li>
					<a href="/users/<%= user._id %>/employees/<%= employee._id %>"
						><%= employee.name %>, <%= employee.position %></a
					>
				</li>
				<% }) %>
			</ul>
			<% } else { %>
			<p>No Current Employees</p>
			<% } %>
		</div>
	</body>
</html>
